.DS_Store
.Rhistory
.RDataTmp
.Rbuildignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory (users-MacBook-Pro.local's conflicted copy 2021-06-13)
.RData (users-MacBook-Pro.local's conflicted copy 2021-06-13)
